<footer class="py-4" [class.display_none]="menuValue">
<section>
  <div class="container">
    <div class="row text-center text-md-left">

      <div class="col-md-3 col-12 mb-3">
        <div class="d-flex justify-content-center justify-content-md-start align-items-center extra-padding-top">
          <i class="bi bi-telephone-fill h4 me-2"></i>
          <div>
            <p class="mb-0 fw-bold">Programari</p>
            <p class="mb-0">0767 043 161</p>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-12 mb-3">
        <div class="d-flex justify-content-center justify-content-md-start align-items-center extra-padding-top">
          <i class="bi bi-envelope-fill h4 me-2"></i>
          <div>
            <p class="mb-0 fw-bold">Email-ul nostru</p>
            <p class="mb-0">contactdentalzen@gmail.com</p>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-12 mb-3">
        <div class="d-flex justify-content-center justify-content-md-start align-items-center extra-padding-top">
          <i class="bi bi-geo-alt-fill h4 me-2"></i>
          <div>
            <p class="mb-0 fw-bold">Adresa noastra</p>
            <p class="mb-0">Strada Oltet, nr 11, sc 1</p>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-12 mb-3">
        <div class="d-flex justify-content-center justify-content-md-start align-items-center">
          <i class="bi bi-clock-fill h4 me-2"></i>
          <div>
            <p class="mb-0"><strong>Luni</strong> 12:00-20:00</p>
            <p class="mb-0"><strong>Marti</strong> 10:00-18:00</p>
            <p class="mb-0"><strong>Miercuri</strong> 08:00-14:00</p>
            <p class="mb-0"><strong>Joi</strong> 08:00-14:00</p>
            <p class="mb-0"><strong>Vineri</strong> 10:00-18:00</p>
          </div>
        </div>
      </div>

    </div>
    <p class="copy-right-text">Stomatologia ZenDent © 2024. Toate drepturile rezervate.</p>
  </div>
</section>
</footer>
